//BREAKPOINTS
$mobile: 575px;
$tablet-portrait: 768px;
$tablet-mid: 900px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$big-desktop: 1440px;
$full-hd: 1600px; 

//EVENTS
$bounce: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease: .4s ease-in-out;

//FONT
$em: 16;
