/*------text-container------*/

.slider_gray_01 {
    width: 100%;
    position: relative;
    padding: 5% 0% 0% 0%;
    display: block;
    background-color: #ffffff;
}

.slider_gray_02 {
    width: 75%;
    max-width: 1366px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.slider_gray_03 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: unset;
    color: #000000;
    gap: 5%;
    align-items: flex-start;
}

.h2_01 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 90%;
    color: #363435;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-family: 'Frank Ruhl Libre', serif;
    padding: 5% 0%;
} 
.content_01 {
    width: 65%;
    background-color: #F2F2F2;
    padding: 0%;
}
.container_text_style {
    width: 100%;
    padding: 8% 8% 0% 8%;
}
.content_02 {
    width: 40%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0px;
}

.content_gray_small {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 0%;
}
 

/*----content-gray-02----*/
.content_02 {
    width: 70%;
    background-color: #ebebeb;
    padding: 0% 0%;
}
.text_gray_02 {
    padding: 1% 8% 10% 8%;
}
.swiper-imagenes {
    width: 100%;
}


/*------card-aside-------*/
.background_0.content_02 {
    background: transparent;
}
.aside_card {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0% 0%;
}
.margin_card {
    margin-top: 13%;
}
.content_text_aside {
    width: 90%;
    position: absolute;
    bottom: 13px;
    color: #fff;
    padding: 2rem;
}
.background_0.content_02 {
    background: transparent;
}

/*--------blue container-------*/

@media (max-width: 768px) {}


/*-----responsive----*/

@media screen and (min-width: 1440px) and (max-width: 1919px) {}

@media screen and (min-width: 1366px) and (max-width: 1439px) {}

@media screen and (min-width: 1280px) and (max-width: 1365px) {}

@media screen and (min-width: 1024px) and (max-width: 1279px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 425px) and (max-width: 767px) {}

@media screen and (max-width: 425px) {}