.banner_2_n {
    background-image: url(../img/nosotros/banner_nosotros.png);
    background-size: cover;
    width: 100%;
    padding-bottom: 28%;
    background-position: center;
    margin-bottom: 2%;
}
/*---------slider_productos--------*/
.section_container {
    width: 100%;
    position: relative;
    padding: 3% 0 0% 0%;
    display: block;
}
.section_container_2 {
    width: 85%;
    max-width: 1366px;
    position: relative;
    margin: 0 auto;
    display: block;
}
.section_container_3 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.container_slider {
    width: 100%;
    position: relative;
    padding: 3em 0;
    display: block;
}

.container_slider_1 {
    width: 100%;
    max-width: 1366px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.container_slider_2 {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

.slider_1 {
    display: flex;
    width: 25%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0% 1% 0% 1%;
    align-items: center;
    justify-content: space-between;
}

.content_slider {
    width: 100%;
    justify-content: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10% 11%;
    background-color: #f2f2f2;
}

.content_1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.h3_style_products {
    padding: 0% 0% 5% 0%;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.h3_style_swiper {
    padding: 0% 0% 5% 0%;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.img_content {
    width: 12px;
    height: 12px;
}

.font_style {
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .banner_2_n {
        background-image: url(../img/nosotros/banner_nosotros.png);
        background-size: cover;
        width: 100%;
        padding-bottom: 28%;
        background-position: center;
        margin-bottom: 3%;
    }
    /*-----*/
    .slider_1 {
        display: flex;
        width: 30%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0% 1% 0% 1%;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .banner_2_n {
        background-image: url(../img/nosotros/banner_nosotros.png);
        background-size: cover;
        width: 100%;
        padding-bottom: 28%;
        background-position: center;
        margin-bottom: 7%;
    }
    /*------*/
    .section_container {
        width: 100%;
        position: relative;
        padding: 0% 0% 0% 0%;
        display: block;
    }
    .container_slider {
        width: 100%;
        position: relative;
        padding: 0em 0;
        display: block;
    }
    .slider_1 {
        display: flex;
        width: 30%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 8px;
        align-items: center;
        justify-content: space-between;
    }
    .h3_style_products {
        padding: 0% 0% 5% 0%;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 0.9em;
    }
    .font_style_products {
        font-family: 'Lato', sans-serif;
        font-size: 0.7em;
    }
}
@media screen and (max-width: 767px) {
    .banner_2_n {
        background-image: url(../img/nosotros/banner_nosotros.png);
        background-size: cover;
        width: 100%;
        padding-bottom: 28%;
        background-position: center;
        margin-bottom: 7%;
    }
    /*-----*/
    .section_container {
        width: 100%;
        position: relative;
        padding: 0% 0% 0% 0%;
        display: block;
    }
    .container_slider {
        width: 100%;
        position: relative;
        padding: 1em 0;
        display: block;
    }
    .container_slider_1 {
        width: 100%;
        max-width: 1366px;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .container_slider_1 {
        width: 100%;
        max-width: 1366px;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .container_slider_2 {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .slider_1 {
        display: flex;
        width: 80%;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
    .banner_2_n {
        background-image: url(../img/nosotros/banner_nosotros.png);
        background-size: cover;
        width: 100%;
        padding-bottom: 28%;
        background-position: center;
        margin-bottom: 6%;
    }
    /*-----*/
    .container_slider {
        width: 100%;
        position: relative;
        padding: 1em 0;
        display: block;
    }
    .section_container {
        width: 100%;
        position: relative;
        padding: 0% 0% 0% 0%;
        display: block;
    }
}
@media screen and (max-width: 425px) {
    .banner_2_n {
        background-image: url(../img/nosotros/banner_nosotros.png);
        background-size: cover;
        width: 100%;
        padding-bottom: 28%;
        background-position: center;
        margin-bottom: 10%;
    }
    /*-----*/
    .container_slider {
        width: 100%;
        position: relative;
        padding: 1em 0;
        display: block;
    }
    .section_container {
        width: 100%;
        position: relative;
        padding: 0% 0% 0% 0%;
        display: block;
    }
}
